.mapping-container {
  .table {
    border-collapse: collapse;

    th {
      font-weight: normal;
    }

    th, td {
      text-align: left;
    }

    .header-row {
      background-color: #f0f0f0;
      font-weight: bold;
      text-align: center;
      border: 1px solid #FDC300 !important;
    }

    .class-name-section,
    .attributes-section,
    .methods-section {
      border: 1px solid #FDC300;
    }
  }
}
