<div class="mapping-container">
  <div class="tabs flex justify-center bg-gray-100 py-2">
    <button class="tab-button" [ngClass]="{'active': selectedTab === 'add-elements'}" (click)="selectedTab = 'add-elements'">Add Elements</button>
    <button class="tab-button" [ngClass]="{'active': selectedTab === 'manage-elements'}" (click)="selectedTab = 'manage-elements'">Manage Elements</button>
  </div>

  <div class="content p-4">
    <div *ngIf="selectedTab === 'add-elements'">
      <form [formGroup]="mappingsForm">
        <div formArrayName="mappings" *ngFor="let mapping of elements.controls; let i = index">
          <div [formGroupName]="i" class="mapping-entry mb-2">
            <input class="input" formControlName="className" placeholder="Class Name">
            <input class="input" formControlName="url" placeholder="Path">
            <button class="btn" (click)="addMethod(i)">Add Method</button>
            <button class="btn" (click)="addAttribute(i)">Add Attribute</button>
          </div>
        </div>
        <button *ngIf="showAddClassButton" class="btn add-mapping-btn" (click)="addElement()">Add Mapping</button>
      </form>
    </div>

    <div *ngIf="selectedTab === 'manage-elements'" class="table-container">
      <div class="table-wrapper">
        <table *ngIf="umlData" class="table w-full">
          <thead>
          <tr class="header-row">
            <th [attr.colspan]="umlData.classes.length">Classes</th>
          </tr>
          <tr>
            <th *ngFor="let className of umlData.classes; let classIndex = index" class="cell-with-content">
              {{ className }}
              <button (click)="deleteElement('class', className, classIndex, className)" class="icon-btn">🗑️</button>
              <button (click)="openRenameDialog('class', className)" class="icon-btn">✏️</button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="header-row">
            <td [attr.colspan]="umlData.classes.length">Attributes</td>
          </tr>
          <tr *ngFor="let i of maxAttributeRows(umlData)">
            <td *ngFor="let className of umlData.classes">
              <div *ngIf="umlData.attributes[className]?.[i]" class="table-cell-content">
                {{ umlData.attributes[className]?.[i] }}
                <button (click)="deleteElement('attribute', umlData.attributes[className][i], i, className)" class="icon-btn">🗑️</button>
                <button (click)="openRenameDialog('attribute', umlData.attributes[className][i])" class="icon-btn">✏️</button>
              </div>
            </td>
          </tr>
          <tr class="header-row">
            <td [attr.colspan]="umlData.classes.length">Methods</td>
          </tr>
          <tr *ngFor="let i of maxMethodRows(umlData)">
            <td *ngFor="let className of umlData.classes">
              <div *ngIf="umlData.methods?.[className]?.[i]" class="table-cell-content">
                {{ umlData.methods?.[className]?.[i] }}
                <button (click)="deleteElement('method', umlData.methods?.[className][i], i, className)" class="icon-btn">🗑️</button>
                <button (click)="openRenameDialog('method', umlData.methods![className][i])" class="icon-btn">✏️</button>
              </div>
            </td>
          </tr>
          <tr class="header-row">
            <td [attr.colspan]="umlData.classes.length">HTTP Methods</td>
          </tr>
          <tr *ngFor="let i of maxHttpMethodRows(umlData)">
            <td *ngFor="let className of umlData.classes">
              <div *ngIf="getHttpMethodsForClass(className)[i]" class="table-cell-content">
                <input type="checkbox" (change)="toggleHttpMethodSelection(className, getHttpMethodsForClass(className)[i].method)">
                {{ getHttpMethodsForClass(className)[i].url }} ({{ getHttpMethodsForClass(className)[i].method }})
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="button-container flex justify-end p-4">
    <button class="btn" (click)="applyModifications()">Apply Mappings and Continue</button>
    <button *ngIf="showApplyAdditionsButton" class="btn" (click)="addNewClassToElements()">Apply Additions</button>
  </div>
</div>
