<div class="upload-container">
  <div class="upload-content">
    <p>
      Please upload a UML diagram in one of the supported formats.
    </p>
    <p>The UMLet UXF, Draw.io XML, StarUML MDJ, and PlantUML PUML file formats are currently supported.</p>
    <input type="file" (change)="onFileSelected($event)" id="file-upload" class="hidden"/>
    <label for="file-upload" class="upload-box">
      Select a file
    </label>
    <button class="btn mt-5" *ngIf="isFileSelected" (click)="stepper.next()">Next</button>
  </div>
</div>
