.stepper-wrapper {
  @apply flex justify-center items-center bg-gray-100;
  min-height: calc(100vh - 85px);
}

.stepper-container {
  @apply mt-16 p-5 bg-primary rounded-lg;
  width: 60vw;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mat-horizontal-stepper {
  @apply flex-grow;
}

.loader-overlay {
  @apply fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50;
}

.table-auto {
  @apply w-full border-collapse;
}

.table-auto th, .table-auto td {
  @apply border p-2;
}

.table-auto th {
  @apply bg-gray-200 text-left;
}

.table-auto tr:nth-child(even) {
  @apply bg-gray-100;
}

.table-auto tr:hover {
  @apply bg-gray-200;
}

.table-auto th {
  @apply py-3 bg-primary text-white;
}
