<div class="top-bar flex justify-between items-center p-4 bg-primary dark:bg-dark-700 text-white">
  <div class="text-center flex-grow">
    <h1 class="text-2xl">UML to OpenAPI Specification Converter</h1>
  </div>
  <div class="flex-shrink-0">
    <button (click)="toggleTheme()" class="p-2 focus:outline-none">
      <span *ngIf="!isDarkMode" class="material-icons text-white">dark_mode</span>
      <span *ngIf="isDarkMode" class="material-icons text-primary">light_mode</span>
    </button>
    <button mat-icon-button (click)="openSessionListDialog()">
      <mat-icon>history</mat-icon>
    </button>
  </div>
</div>
