<div class="manage-container">
  <p class="manage-text">The OpenAPI specification generation process has completed successfully!</p>
  <p class="manage-text">Choose what you want to do with the generated OpenAPI specification below.</p>
  <div class="manage-actions">
    <div class="action-item">
      <span>Start the Prism mock server.</span>
      <button id="startMockServerButton" mat-icon-button (click)="onToggleMockServer()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <div class="action-item">
      <span>Start Swagger UI to load and test the generated OpenAPI specification.</span>
      <button mat-icon-button (click)="onOpenSwaggerUI()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <div class="action-item">
      <span>Save the current session data and restart the stepper to upload and convert a new UML diagram.</span>
      <button id="saveSessionRestartStepperButton" mat-icon-button (click)="onRestartApplication()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <div class="action-item" *ngIf="isGeneratedSuccessfully">
      <span>Download the generated OpenAPI specification file.</span>
      <button id="downloadOpenAPISpecificationButton" mat-icon-button (click)="onDownloadOpenApiSpecification()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
  </div>
</div>
