<h1 mat-dialog-title>Select Download Format</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Format</mat-label>
    <mat-select [(value)]="selectedFormat">
      <mat-option value="YML">YML</mat-option>
      <mat-option value="JSON">JSON</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button id="download-dialog-cancel-btn" (click)="onCancelClick()">Cancel</button>
  <button mat-button id="download-dialog-proceed-btn" (click)="onDownloadClick()">Download</button>
</div>
