<app-top-bar></app-top-bar>
<div class="mt-16 p-5 max-w-[60vw] min-h-[70vh] mx-auto my-[15vh] bg-primary rounded-lg">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Start</ng-template>
      <app-start [stepper]="stepper"></app-start>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Upload</ng-template>
      <app-upload (fileSelected)="onFileSelected($event)" [stepper]="stepper"></app-upload>
    </mat-step>
    <mat-step [stepControl]="mappingFormGroup" [completed]="isMappingStepCompleted">
      <ng-template matStepLabel>Mapping</ng-template>
      <app-mapping (mappingCompleted)="onMappingCompleted($event)" (httpMethodsSelected)="onHttpMethodsSelected($event)" [umlData]="umlData" (elementCountUpdated)="updateMappedElementCount($event)"></app-mapping>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Generate</ng-template>
      <app-generate
        [uploadedFile]="uploadedFile"
        [fileFormat]="fileFormat"
        [modellingTool]="modellingTool"
        [elementCount]="elementCount"
        [mappedElementCount]="mappedElementCount"
        [isGeneratedSuccessfully]="isGeneratedSuccessfully"
        [isLoading]="isLoading"
        (generate)="generate()"
        [stepper]="stepper"
      ></app-generate>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Personalise</ng-template>
      <app-personalise [openApiData]="openApiData"></app-personalise>
      <button class="btn" (click)="stepper.next()">Continue</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Manage</ng-template>
      <div class="text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros efficitur dui fermentum molestie at sed metus. Maecenas auctor purus ut commodo faucibus.</p>
        <table class="w-full border-separate">
          <tbody>
          <tr>
            <td class="w-3/4">Start the Prism mock server.</td>
            <td class="w-1/4 text-center">
              <button mat-icon-button class="btn" (click)="toggleMockServer()">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td class="w-3/4">Start Swagger UI and load the generated OpenAPI specification.</td>
            <td class="w-1/4 text-center">
              <button mat-icon-button class="btn" (click)="openSwaggerUI()">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td class="w-3/4">Restart the stepper and upload a new UML diagram.</td>
            <td class="w-1/4 text-center">
              <button mat-icon-button class="btn" (click)="restartApplication()">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td class="w-3/4">Download the generated OpenAPI specification file.</td>
            <td class="w-1/4 text-center">
              <button mat-icon-button class="btn" *ngIf="isGeneratedSuccessfully" (click)="downloadOpenAPISpecification()">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div *ngIf="isLoading" class="loader-overlay">
  <app-loader [texts]="[
  'Please wait while your OpenAPI specification is being generated.',
  'Example values for your attributes are being generated with AI.',
  'This process will not take too long.'
  ]"></app-loader>
</div>
