<div class="stepper-container">
  <mat-horizontal-stepper #stepper [linear]="false">
    <mat-step>
      <ng-template matStepLabel>Start</ng-template>
      <p>Here goes the introductory text.</p>
      <button mat-button (click)="stepper.next()">Start the process</button>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Upload</ng-template>
      <input type="file" (change)="onFileSelected($event)">
      <p *ngIf="fileError" style="color: red;">{{ fileError }}</p>
      <button mat-button *ngIf="showNextButton" (click)="stepper.next()">Next</button>
    </mat-step>

    <mat-step [stepControl]="mappingFormGroup">
      <ng-template matStepLabel>Mapping</ng-template>
      <form [formGroup]="mappingFormGroup">
        <div *ngIf="elementNames.classes.length > 0; else noData">
          <div *ngFor="let className of elementNames.classes">
            <h3>{{ className }}</h3>
            <p>Attributes:</p>
            <ul *ngIf="elementNames.attributes[className]?.length">
              <li *ngFor="let attr of elementNames.attributes[className]">{{ attr }}</li>
            </ul>
            <p>Methods:</p>
            <ul *ngIf="elementNames.methods[className]?.length">
              <li *ngFor="let meth of elementNames.methods[className]">{{ meth }}</li>
            </ul>
          </div>
        </div>
        <ng-template #noData><p>No data available for this diagram.</p></ng-template>
        <button mat-button type="button" (click)="stepper.next()">Apply Mappings and Continue</button>
      </form>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Generate</ng-template>
      <div *ngIf="uploadedFile">
        <h3>Uploaded Diagram Information:</h3>
        <p>File Format: {{ fileFormat }}</p>
        <p>Diagram Type: {{ diagramType }}</p>
        <p>Element Count:</p>
        <ul>
          <li>Classes: {{ elementCount.classes }}</li>
          <li>Attributes: {{ elementCount.attributes }}</li>
          <li>Methods: {{ elementCount.methods }}</li>
          <li>Relationships: {{ elementCount.relationships }}</li>
        </ul>
      </div>
      <button mat-button (click)="generate(stepper)">Generate</button>
      <p *ngIf="generationError" style="color: red;">{{ generationError }}</p>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Manage</ng-template>
      <button mat-button (click)="toggleMockServer()">{{ serverButtonText }}</button>
      <button mat-button (click)="restartApplication()">Restart Stepper</button>
    </mat-step>
  </mat-horizontal-stepper>
</div>
