<div class="stepper-container">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Start</ng-template>
      <p>Here goes the introductory text.</p>
      <button mat-button (click)="stepper.next()">Start the process</button>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Upload</ng-template>
      <input type="file" (change)="onFileSelected($event)">
      <button mat-button (click)="stepper.next()">Next</button>
    </mat-step>

    <mat-step [stepControl]="mappingFormGroup">
      <ng-template matStepLabel>Mapping</ng-template>
      <app-mapping (mappingCompleted)="onMappingCompleted($event)" (httpMethodsSelected)="onHttpMethodsSelected($event)" [umlData]="umlData"></app-mapping>
    </mat-step>

    <mat-step label="Data">
      <app-data></app-data>
      <button mat-button matStepperNext>Next</button>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Generate</ng-template>
      <div *ngIf="uploadedFile">
        <h3>Uploaded Diagram Information:</h3>
        <p>File Format: {{ fileFormat }}</p>
        <p>Diagram Type: {{ diagramType }}</p>
        <p>Element Count:</p>
        <ul>
          <li>Classes: {{ elementCount.classes }}</li>
          <li>Attributes: {{ elementCount.attributes }}</li>
          <li>Methods: {{ elementCount.methods }}</li>
          <li>Relationships: {{ elementCount.relationships }}</li>
        </ul>
      </div>
      <button mat-button (click)="generate()">Generate</button>
      <button mat-button *ngIf="isGeneratedSuccessfully" (click)="stepper.next()">Continue</button>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Manage</ng-template>
      <button mat-button (click)="toggleMockServer()">{{ serverButtonText }}</button>
      <button mat-button (click)="restartApplication()">Restart Stepper</button>
      <div *ngIf="isGeneratedSuccessfully">
        <p>OpenAPI specification generated successfully. You can download it <a href="http://localhost:8080/export.yml" target="_blank">here</a>.</p>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
