node_modules
*.log
dist
build
converter-backend/.mvn
converter-backend/target
converter-frontend/.angular
Dockerfile
.dockerignore
.idea
*.iml
*.vscode
.DS_Store
Thumbs.db
documentation
*.md
converter-backend/documentation
converter-frontend/documentation
docker-compose.yml
start.bat
wait-for-it.sh
!UMLtoOpenAPISpec/package.json
!UMLtoOpenAPISpec/package-lock.json
