<div *ngIf="currentView === 'classes'">
  <button *ngFor="let className of classNames" (click)="selectClass(className)">{{ className }}</button>
</div>

<div *ngIf="currentView === 'attributes'">
  <button (click)="goBack()">Back to Classes</button>
  <button *ngFor="let attribute of selectedClassAttributes" (click)="selectAttribute(attribute)">{{ attribute }}</button>
</div>

<div *ngIf="currentView === 'examples'">
  <button (click)="goBackToAttributes()">Back to Attributes</button>
  <div *ngFor="let example of selectedAttributeExamples; let i = index">
    <p>{{ example }} <mat-icon (click)="editExample(i)">edit</mat-icon></p>
  </div>
  <button mat-button (click)="saveAndContinue()">Save and Continue</button>
</div>
