<div class="personalise-container">
  <div class="personalise-content first-section">
    <p>Navigate through the classes, attributes, and example values that were generated in your
      OpenAPI specification in this OpenAPI explorer view.</p>
    <p>Here you can modify the example values that were generated for the attributes of the classes
      that were generated in your OpenAPI specification based on the UML diagram you have uploaded and the additions and
      modifications that were applied.</p>

    <div class="create-new-link-container">
      <button (click)="createNewLink()" class="btn bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded">
        Create New Link
      </button>
      <button *ngIf="editingLink" (click)="completeLink()" class="btn bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded ml-2">
        Complete Link
      </button>
      <p *ngIf="editingLink">You are currently creating a new Link</p>
    </div>

    <div *ngIf="currentView === 'classes'">
      <button *ngFor="let className of classNames" (click)="selectClass(className)"
              class="btn bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded mr-2">{{ className }}
      </button>
    </div>

    <div *ngIf="currentView === 'attributes'">
      <button (click)="goBackToClasses()" class="btn bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">
        Back to Classes
      </button>
      <button *ngFor="let attribute of selectedClassAttributes" (click)="selectAttribute(attribute)"
              class="btn bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded mr-2">{{ attribute }}
      </button>
    </div>

    <div *ngIf="currentView === 'examples'">
      <button (click)="goBackToAttributes()"
              class="btn bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Back to Attributes
      </button>
      <div *ngFor="let example of selectedAttributeExamples; let i = index" id="exampleValue" class="flex items-center mr-2">
        <p class="flex-grow">{{ example }}</p>
        <mat-icon (click)="editExampleValue(i)" class="cursor-pointer">edit</mat-icon>
        <button *ngIf="editingLink" (click)="addLink(selectedAttribute, example)" class="btn bg-yellow-500 hover:bg-yellow-700 text-white py-1 px-2 ml-2 rounded">Link</button>
      </div>
    </div>
  </div>

  <div class="linked-examples-container second-section">
    <h3>Linked Example Values</h3>
    <div class="grid-container">
      <div *ngFor="let link of linkedExamples; let linkIndex = index" class="card">
        <div class="card-content">
          <h4>Link {{ link["id"] }}</h4>
          <div cdkDropList id="link-{{linkIndex}}" [cdkDropListData]="getKeys(link)" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let key of getKeys(link); let i = index" class="attribute-value-pair" cdkDrag>
              <strong>{{ key }}:</strong> {{ link[key] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
